body {
    font-family: 'Franklin Gothic Medium';
    margin: 0;
    padding: 0;
    background-color: #f0f8f7; 
}

header {
    font-family: Cambria;
    background-color: #d3ead6; 
    color: #004d40; 
    text-align: center;
    padding: 20px 0;
    background-image: url('https://img.freepik.com/fotos-gratis/fundo-de-papel-de-espaco-de-design-texturizado_53876-42312.jpg');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center center; 
    background-blend-mode: multiply;
    background-color: #0a816d;
}

.container {
    text-align: center;
    max-width: 900px;
    max-height: 450px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff; 
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    overflow: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}


td {
    text-align: center;
    font-family: Times, serif;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

th {
    background-color: #d3ead6; 
    color: #004d40; 
    font-weight: bold;
}



.excluir-button, .editar-button {
    padding: 8px 16px;
    margin-right: 5px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.excluir-button {
    background-color: #ff7043; 
    color: #fff;
}

.excluir-button:hover {
    background-color: #ff8a65; 
}

.editar-button {
    background-color: #a5d6a7; 
    color: #004d40; 
}

.editar-button:hover {
    background-color: #81c784; 
}

.back-button {
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: #004d40; 
    color: #ffffff; 
    width: 40px;
    height: 40px;
    font-size: 24px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;

    text-decoration: none;
}

.back-button:hover {
    background-color: #00695c; 
}

.botao-pesquisa {
    background-color: #a5d6a7; 
    color: #004d40; 
    padding: 20px 20px;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 30px; 
    height: 30px; 
    background-image: url("https://cdn-icons-png.flaticon.com/128/2311/2311526.png"); 
    background-size: cover; 
    background-position: center; 
    text-indent: -9999px;
    box-shadow: -4px 0 10px rgba(0, 0, 0, 0.534);
}


.botao-pesquisa:hover {
    background-color: #81c784; 
}


.search-form-container {
    max-width: 300px;
    width: 125%;
    margin: 10px 10px;
    border-radius: 10px;
    padding: 10px;
    background-color: #f7faf7; 
    border: none;
}
.button {
    background-color: #a5d6a7; 
    color: #004d40; 
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.button:hover {
    background-color: #81c784; 
}

.linha-par {
    background-color: #f2f2f2; 
}


.linha-impar {
    background-color: #ffffff; 
}

h1 {
    margin: 0;
    text-align: center;
    color: #004d40; 
}
.menu-toggle {
    display: none;
}
.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    background-color: #d3ead6; 
    transition: 0.5s;
    padding-top: 80px;
    z-index: 1000;
}
.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 20px;
    color: #004d40; 
    display: block;
    transition: 0.3s;
}
.sidebar a:hover {
    background-color: #c1e2c8; 
}
.openbtn {
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    background-color: #004d40; 
    color: #fff; /* Branco */
    padding: 10px 15px;
    border: none;
    position: fixed;
    top: 25px;
    left: 20px;
    z-index: 1100;
    border-radius: 25px;
}
.openbtn:hover {
    background-color: #003c31; 
}
@media screen and (max-width: 768px) {
    .sidebar {
        width: 200px;
        padding-top: 50px;
    }
}
@media screen and (max-width: 480px) {
    .sidebar {
        width: 150px;
        padding-top: 40px;
    }
}

@keyframes wave {
    0% {
        transform: translateX(0%) translateY(0px);
    }
    50% {
        transform: translateX(0%) translateY(10px);
    }
    100% {
        transform: translateX(0%) translateY(0);
    }
}

.wave-title {
    position: relative;
    display: inline-block;
    animation: wave 3s ease-in-out;
}
h2{
    margin-bottom: 10;
    margin-top: 0;
    font-family: Cambria;
    text-align: center;
    color: #004d40; 
   
}
p{
    font-family: Cambria;
    text-align: center;
    color: #004d40; 
}
