<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}"> 
    
</head>
<body>
    <header class="header">
        <h1 class = "wave-title" style = "font-size: xxx-large; color: #d3ead6"> 𝕷𝖎𝖛𝖗𝖆𝖗𝖎𝖆 </h1>
        <button class="openbtn" onclick="toggleMenu()">☰ Menu</button>
    </header>
    <div id="mySidebar" class="sidebar">
        <a href="/relatorio">Ver Relatório</a>
        <a href="/cadastro">Cadastrar Livro</a>
        <a href="/livro_aleatorio">Ver Livro Aleatório</a>
    </div>
    
    <div class="container">  
        <h2>Lista de Livros</h2>
       {% if livros %}
    <table>
        <tr>
            <th>ID</th>
            <th>Título</th>
            <th>Autor</th>
            <th>Editora</th>
            <th>Gênero</th>
            <th>Quantidade</th>
            <th>Ano</th>
            <th> Preço </th>
            <th><form id="search-form" action="/" method="GET">
                <input type="text" class = "search-form-container" id="termo_pesquisa" name="termo_pesquisa" placeholder="Digite o título">
            <th><button type="submit" class="botao-pesquisa"></button></th> 
            </form>
            </th>
        </tr>
         {% for livro in livros %}
        <tr class="{{ 'linha-par' if livro.id % 2 == 0 else 'linha-impar' }}">
                <td>{{ livro.id }}</td>
                <td>{{ livro.titulo }}</td>
                <td>{{ livro.autor.nome }}</td>
                <td>{{ livro.editora.nome }}</td>
                <td>{{ livro.genero.nome }}</td>
                <td>{{ livro.quantidade }}</td>
                <td>{{ livro.ano }}</td>
                <td>R${{livro.preco}}</td>
                <td><form action="/excluir/{{ livro.id }}" method="post"><button class ="excluir-button">Excluir</button> </form>
                <td><form action ="/editar/{{ livro.id }}" method = "get"><button class = "editar-button">Editar</button> </form>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <p>Nenhum livro cadastrado.</p>
        {% endif %}  
    </div>
    <script>
        function toggleMenu() {
            var sidebar = document.getElementById("mySidebar");
            if (sidebar.style.left === "0px") {
                sidebar.style.left = "-250px";
            } else {
                sidebar.style.left = "0px";
            }
        }
    </script>
</body>
</html>
